@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

$font: 'Dosis', sans-serif;
$root-font-size: 28px;

$liver: hsl(5, 15%, 35%);
$yellow-green-crayola: hsl(73, 49%, 66%);
$flax: hsl(51, 60%, 72%);
$dark-green: hsl(144, 46%, 30%);