@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #c0d37e;
  margin: .3rem; }
  a:hover {
    color: #e2d68d; }

html {
  font-size: 28px;
  font-family: "Dosis", sans-serif; }

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #674e4c;
  word-wrap: break-word;
  text-align: center; }

h1 {
  margin: 2rem; }

h2 {
  margin-bottom: 2rem; }

input {
  margin: 1rem;
  width: 10rem;
  padding: .8em 2em;
  border-radius: 5rem;
  border: 1px solid #674e4c;
  font-size: inherit; }

li {
  margin: .5em 1em;
  list-style: none;
  transition: all .3s ease;
  cursor: default; }
  li:hover {
    transform: scale(1.2); }

ul {
  margin: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

select {
  font-size: .8rem;
  font-family: inherit;
  padding: 0.8em 1.2em;
  border-radius: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  outline: none; }
  select:active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none; }
  select option {
    font-size: .8rem;
    font-family: inherit; }

.arn {
  width: auto;
  min-width: 10rem; }

.mario-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  text-align: right;
  margin: 0;
  line-height: 90%;
  color: #297045; }

.accordion input {
  width: 7.5rem; }
.accordion .question {
  position: relative;
  cursor: pointer; }
  .accordion .question::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: -1em;
    transform: translateY(-50%); }
.accordion .answer {
  position: relative;
  height: 0;
  overflow: hidden;
  color: #297045; }
.accordion .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .4em 0; }
  .accordion .container--delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .4em 0; }
    .accordion .container--delete button {
      font-size: .7rem;
      padding: .8em 1.2em;
      width: fit-content;
      border-radius: 2rem;
      border: 2px solid #ff1f0a;
      background-color: white;
      color: #ff1f0a;
      cursor: pointer; }
      .accordion .container--delete button:hover {
        background-color: #ff1f0a;
        color: white; }
  .accordion .container ul {
    flex-direction: column; }
  .accordion .container.active .question::before {
    content: '-'; }
  .accordion .container.active .answer {
    height: auto;
    margin-top: .5rem; }

.acne-bot-container {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  height: 70vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden; }
  .acne-bot-container .submit-btn {
    font-size: .7rem;
    padding: .8em 1.2em;
    width: fit-content;
    border-radius: 2rem;
    border: 2px solid #297045;
    background-color: white;
    color: #297045;
    cursor: pointer; }
    .acne-bot-container .submit-btn:hover {
      background-color: #297045;
      color: white; }
  .acne-bot-container .user {
    background: #c0d37e;
    color: white;
    width: 50%;
    position: relative;
    left: 45%;
    border-radius: 2rem;
    padding: .3em .8em;
    text-align: left;
    margin-bottom: .5em; }
  .acne-bot-container .bot {
    background: #aaa;
    color: white;
    width: 50%;
    position: relative;
    left: 5%;
    border-radius: 2rem;
    padding: .3em .8em;
    text-align: left;
    margin-bottom: .5em; }

/*# sourceMappingURL=main.css.map */
