*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $yellow-green-crayola;
  margin: .3rem;

  &:hover {
    color: $flax;
  }
}

html {
  font-size: 28px;
  font-family: $font;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $liver;
  word-wrap: break-word;
  text-align: center;
}

h1 {
  margin: 2rem;
}

h2 {
  margin-bottom: 2rem;
}

input {
  margin: 1rem;
  width: 10rem;
  padding: .8em 2em;
  border-radius: 5rem;
  border: 1px solid $liver;
  font-size: inherit;
}

li {
  margin: .5em 1em;
  list-style: none;
  transition: all .3s ease;
  cursor: default;

  &:hover {
    transform: scale(1.2);
  }
}

ul {
  margin: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}